<article class="listing col-md-4">
  <h3>{{rental.name}}</h3>
  <br/>
  <div class="detail location">
    <span><b>Location :</b></span> {{rental.location}}
    <br/>
    <span><b>City :</b></span> {{rental.city}}
    {{#if canShow}}
      <a style="cursor: pointer;" {{action 'toggleShowHide'}}>more..</a>
    {{else}}
      <div>
        <span><b>Total Companies :</b></span> {{rental-property-categorize rental.totalCompanies}}
        <br/>
        <span><b>Address :</b></span> {{rental.address}}
        <br/>
        {{location-map location=rental.city}}
        <a style="cursor: pointer;" {{action 'toggleShowHide'}}>show less</a>
      </div>
    {{/if}}

  </div>
</article>
